In [1]:
#Librerias
import yfinance as yf 
import pandas as pd

In [30]:
#Variables de entorno
start_date = '2015-03-01'
end_date = '2025-03-10'

In [31]:
#Datos basicos de precios de NVIDIA
nvda_data = yf.download('NVDA', start= start_date, end= end_date, auto_adjust= True) #Ultimos 10 años hasta el 10 de marzo del 2025

[*********************100%***********************]  1 of 1 completed

In [32]:
print(nvda_data.shape)
nvda_data.head()

(2521, 5)

Price          Close      High       Low      Open     Volume
Ticker          NVDA      NVDA      NVDA      NVDA       NVDA
Date
2015-03-02  0.544515  0.547406  0.529336  0.530059  301512000
2015-03-03  0.534396  0.543069  0.532709  0.540419  160344000
2015-03-04  0.540419  0.541624  0.530300  0.532468  226840000
2015-03-05  0.550779  0.551743  0.538973  0.540419  323056000
2015-03-06  0.543310  0.550298  0.542829  0.547647  257392000

## Índices del mercado

Descarguemos los datos de índices mas populares para darle al modelo información de como se esta comportando el mercado en general.

In [33]:
sp500_data = yf.download("^GSPC", start= start_date, end= end_date)
nasdaq_data = yf.download("^IXIC", start= start_date, end= end_date)
dowjones_data = yf.download("^DJI", start= start_date, end= end_date)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

## índices Sectoriales 

Descarguemos datos de ETFs del sector al que pertenece NVIDIA y uno de tecnología en general.

ETFs de semiconductores:
- SOX
- SMH
- XSD

QQQ trust: Nos ayudara a ver como esta el sector tecnología en general dandonos el panorama de empresas tecnologicas grandes (Como NVIDIA)

In [34]:
# SOXX
soxx_data = yf.download("SOXX", start= start_date, end= end_date)

# SMH
smh_data = yf.download("SMH", start= start_date, end= end_date)

# ETF XSD
xsd_data = yf.download("XSD", start= start_date, end= end_date)

# QQQ trust
qqq_data = yf.download('QQQ', start= start_date, end= end_date)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [35]:
soxx_data.head()

Price           Close       High        Low       Open   Volume
Ticker           SOXX       SOXX       SOXX       SOXX     SOXX
Date
2015-03-02  29.760040  29.774992  29.206826  29.209817   865800
2015-03-03  29.209822  29.655384  29.170946  29.655384  1192200
2015-03-04  29.170942  29.179915  28.842005  29.129079   569700
2015-03-05  29.188887  29.356345  29.066283  29.272617   733500
2015-03-06  28.886858  29.141038  28.806118  29.093192   642600

In [36]:
smh_data.head()

Price           Close       High        Low       Open   Volume
Ticker            SMH        SMH        SMH        SMH      SMH
Date
2015-03-02  26.148197  26.148197  25.692046  25.692046  9773800
2015-03-03  25.718880  26.058758  25.669688  26.005094  9878000
2015-03-04  25.678629  25.718878  25.419250  25.718878  4061800
2015-03-05  25.669685  25.830678  25.562355  25.812791  2515600
2015-03-06  25.347696  25.607076  25.289559  25.539995  3590600

In [37]:
qqq_data.head()

Price            Close        High         Low        Open    Volume
Ticker             QQQ         QQQ         QQQ         QQQ       QQQ
Date
2015-03-02  101.224983  101.262002  100.493882  100.512395  22988600
2015-03-03  100.753021  101.021401  100.114463  100.919601  20788900
2015-03-04  100.364326  100.567925   99.818318  100.419858  21007400
2015-03-05  100.540146  100.845544  100.123699  100.623439  15381000
2015-03-06   99.401894  100.604966   99.152020  100.410624  30990400

Por el momento solo verificamos si hay datos para la fecha inicial que queremos (Si hay)

## Indicador bursatil de volatilidad

In [38]:
vix_data = yf.download("^VIX", start= start_date, end= end_date)

[*********************100%***********************]  1 of 1 completed

In [39]:
vix_data.head()

Price       Close   High    Low   Open Volume
Ticker       ^VIX   ^VIX   ^VIX   ^VIX   ^VIX
Date
2015-03-02  13.04  13.90  12.87  13.90      0
2015-03-03  13.86  14.69  13.25  13.35      0
2015-03-04  14.23  14.71  14.13  14.28      0
2015-03-05  14.04  14.58  13.88  14.01      0
2015-03-06  15.20  15.83  14.18  14.61      0

In [ ]:
data_frames = [nvda_data, sp500_data, nasdaq_data, dowjones_data, soxx_data, smh_data, xsd_data, qqq_data, vix_data]